html{
    font-size: 62.5%;
}
.top-section{
    max-height: 85rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top-section img{
    max-height: 50rem;
}
.top-section div{
    max-height: 30rem;
    background-color: #000000;
    padding: 7.2rem 2.8rem;
}
.top-section h1{
    margin-top: 5.6rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;

    /* identical to box height, or 125% */
    letter-spacing: 3.33333px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.top-section p{
    max-width: 45rem;
    margin-top: 1.6rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;

    /* or 167% */

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}
.main-section{
    display: block;
    padding: 6.4rem 3.2rem 9.1rem 3.3rem;
}
.main-section :nth-child(1){
    margin-top: calc(5% + 1rem)
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5.5rem;
}
.hcard{
    padding-top: 3.6rem;
}
.card h2{
    max-width: 46rem;
    margin-top: 4.8rem;
    margin-bottom: 1.6rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;

    /* identical to box height, or 139% */
    text-align: center;

    color: #000000;
}
.card p{
    max-width: 46rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;

    /* or 167% */
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% auto;
    height: 22.4rem;
    padding-left: 3.3rem;
    padding-top: 6.4rem;
}
.bottom-section h1{
    width: 34rem;
    margin-bottom: 2.4rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;

    /* or 125% */
    letter-spacing: 3.33333px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.bottom-section button{
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: inherit;
}
.bottom-section button h3{
    width: 30rem;
    text-align: left;
    text-transform: uppercase;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;

    /* identical to box height */
    letter-spacing: 0.2rem;

    color: #FFFFFF;
}
#arrow1{
    margin-left: 1rem;
    width: 4.2rem;
}
button{
    cursor: pointer;
}
@media (min-width:768px){
    #nmenu{
        display: none;
    }
    .top-section img{
        display: none;
    }
    .top-section{
        padding: 0;
    }
    .top-section div{
        background-image: url(assets/features/tablet/hero.jpg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 35.9rem;
        height: 49rem;
        padding: 17.2rem 5.4rem;
        z-index: -1;
    }
    .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

    }
    .main-section :nth-child(1){
        margin: 0;
    }
    .bottom-section{
        flex-direction: row;
        height: 28rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bottom-section h1{
        width: 40rem;
        font-size: 4rem;
        line-height: 4.8rem;
    }
    .bottom-section button{
        width: 20rem;
        align-items: center;
        text-align: center;
    }
}
@media (min-width:1440px){
    .top-section div{
        height: 61rem;
        background-image: url(assets/features/desktop/hero.jpg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 55% 100% ;
    }
    .main-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card p{
        width: 35rem;
    }
    .bottom-section{
        background-image: url(assets/shared/desktop/bg-beta.jpg);
    }

        


}