html{
    font-size: 62.5;
}
.top-section{
    height: 69.4rem;
    display: flex;
    flex-direction: column;
}
.top-section img{
    height: 29.4rem;
}
.top-section div{
    height: 22.8rem;
    background-color: #000000;
    padding-left: 2.9rem;
    padding-top: 7.2rem;
    padding-right: 2.8rem;
}
.top-section h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;

    /* identical to box height, or 125% */
    letter-spacing: 3.33333px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.top-section p{
    margin-top: 1.6rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;

    /* or 167% */

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}
.main-section{
    padding-left: 2.9rem;
    padding-right: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section :nth-child(1){
    display: flex;
    align-items: center;
}

#slide-box{
    display: flex;
    align-items: center;
    width: 6.4rem;
    height: 3.2rem;
    background-color: #DFDFDF;
    border-radius: 1.6rem;
    margin: 0 3.2rem;
}
#slider{
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    margin-left: 0.4rem
    
}
 
.price-card{
    position: relative;
    height: 40.7rem;
    width: 31.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    margin: 2.4rem auto;
}
.visual{
    visibility: hidden;
    height: 6px;
    width: 100%;
    background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%);
}
.price-card h5{
    margin-top: 5.6rem;
    margin-bottom: 1.8rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;

    /* identical to box height, or 104% */
    text-align: center;

    color: #000000;
}
.price-card p{
    width: 27.5rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    /* or 167% */
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 4rem;
}
.price-card h4{
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    /* identical to box height, or 120% */
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;

    color: #000000;
}
.price-card button{
    width: 17rem;
    padding: 1.2rem 3.7rem;
    background: #000000;
    font-family: 'DM Sans';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}
.bottom-section{
    margin-top: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% auto;
    height: 22.4rem;
    padding-left: 3.3rem;
    padding-top: 6.4rem;
}
.bottom-section h1{
    width: 34rem;
    margin-bottom: 2.4rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;

    /* or 125% */
    letter-spacing: 3.33333px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.bottom-section button{
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: inherit;
}
.bottom-section button h3{
    width: 30rem;
    text-align: left;
    text-transform: uppercase;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;

    /* identical to box height */
    letter-spacing: 0.2rem;

    color: #FFFFFF;
}
.selection h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height, or 139% */
    text-align: right;

    color: #000000;    
}
#year{
    mix-blend-mode: normal;
    opacity: 0.5;
}
.info{
    display: flex;
    flex-direction: column;
}
.info h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    /* identical to box height */
    letter-spacing: 2px;
    justify-content: start;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 2.3rem;
    width: 32rem;
    margin-bottom: 2.3rem;
}
.info-list{
    width: 32rem; 
    display: flex;
    flex-direction: column;
}
.info-list h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    /* identical to box height */
    letter-spacing: 2px;
    
    color: #000000;
}
.info-list div{
    display: flex;
    justify-content: space-between;
}
.info-list p{
    margin-right: 4.7rem;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    
    /* identical to box height */
    letter-spacing: 1.66667px;
    
    color: #000000;
    mix-blend-mode: normal;
}
p span{
    opacity: 0.5;
}
.info-list img{
    margin-top: 0.8rem;
    width: 1.6rem;
    height: 1.2rem;
    color: #000000;
}
.info-list hr{
    width: 100%;
    opacity: 0.2;
    margin: 2.4rem 0;
}

@media (min-width:768px){
    .bottom-section{
        flex-direction: row;
        height: 28rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bottom-section h1{
        width: 40rem;
        font-size: 4rem;
        line-height: 4.8rem;
    }
    .bottom-section button{
        width: 20rem;
        align-items: center;
        text-align: center;
    }
}
@media (min-width:1440px){
    .bottom-section{
        background-image: url(assets/shared/desktop/bg-beta.jpg);
    }
}
